* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, #3462BB,#200B4D);
    color: #fff;
}

#search-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

#search-container input[type="text"] {
    padding: 10px;
    font-size: 20px;
    width: 60%;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-right: 20px;
    background-color: bisque;
}
#history-list li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ccc;
    width: 150px;
}
#search-container button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#weather-display {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#future-weather {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
}

.forecast {
    background-color: rgb(104, 104, 169);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(33, 11, 11, 0.2);
    padding: 20px;
    text-align: center;
    height: 250px;
}

img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    #search-container {
        width: 80%;
    }

    #future-weather {
        grid-template-columns: repeat(2, 1fr);
    }
}


